* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 770px) {
  body {
    height: auto;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
}

@media (max-width: 770px) {
  h1 {
    height: auto;
    font-size: 3em;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 90%;
}

@media (max-width: 770px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vh;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

#createdBy {
  height: 10vmin;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: fixed;
  top: 0.8em;
  font-family: 'Courgette', cursive;
}

@media (max-width: 770px) {
  #createdBy {
    display: none;
  }
}

.icons {
  font-size: 6vmin;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: fixed;
  bottom: 0px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media (max-width: 770px) {
  .icons {
    margin: auto;
    position: relative;
  }
}

.fab {
  margin: 0 4px;
  opacity: 0.7;
}

.fa-linkedin:hover {
  color: #0077B5;
  opacity: 1;
}

.fa-github:hover {
  color: #211F1F;
  opacity: 1;
}

.fa-stack-overflow:hover {
  color: #F48024;
  opacity: 1;
}

.fa-codepen:hover {
  opacity: 1;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 80vmin;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  margin: 0 3px;
  position: relative;
  opacity: 0;
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 770px) {
  .card {
    height: 100vh;
    display: block;
  }
}

.headerPersonal {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headerProjects {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headerProfessional {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.personal {
  background-color: #ff7e5f;
}

.hoverPersonal:hover {
  background: url("img/personal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flipPersonal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  text-align: center;
  width: 100%;
  cursor: default;
}

.flipPersonal img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -ms-grid-column-align: left;
      justify-self: left;
  margin: 10px;
}

.flipPersonal p {
  width: 70%;
  color: white;
  margin: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px;
}

@media (max-width: 770px) {
  .flipPersonal p {
    width: 100%;
  }
}

.flipPersonal ul {
  list-style: none;
  margin: auto;
  font-size: 1.5em;
  width: 100%;
  padding: 10px;
}

.flipPersonal li {
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 10px;
}

.scrollDown {
  display: none;
}

@media (max-width: 770px) {
  .scrollDown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 40px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.projects {
  background-color: #feb47b;
}

.flipProjects {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  text-align: center;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 20px 5%;
  cursor: default;
}

@media (max-width: 770px) {
  .flipProjects {
    margin-bottom: 25px;
    padding-bottom: 20px;
  }
}

.flipProjects h3 {
  width: 100%;
  margin: 10px;
}

.flipProjects p {
  padding: 5px;
}

.flipProjects img {
  height: auto;
  width: 100%;
  border-radius: 5px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: block;
  opacity: 0.8;
}

.flipProjects img:hover {
  opacity: 1;
}

.flipProjects div {
  margin: 1em 0;
  border-bottom: solid white 1px;
}

.flipProjects span {
  font-size: 16px;
  display: inline-block;
  color: white;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 20px;
  height: 80vh;
}

::-webkit-scrollbar-thumb {
  background: #351c4d;
  border-radius: 10px;
  height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.hoverProjects:hover {
  background: url("img/projects.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.professional {
  background-color: #765258;
}

.flipProfessional {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  cursor: default;
}

.hoverProfessional:hover {
  background: url("img/professional.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.grow {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.shrink {
  -ms-flex-negative: 10;
      flex-shrink: 10;
}

.shrink h1 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

@media (max-width: 770px) {
  .shrink h1 {
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    text-orientation: unset;
  }
}

span {
  color: #351c4d;
}

hr {
  color: #351c4d;
}

.career {
  width: 80%;
  margin: 50px auto;
}

.skills {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px auto;
  color: white;
  font-weight: bold;
}

.skills h2 {
  width: 100%;
}

.skills div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  background: #feb47b;
  border-radius: 5px;
  -webkit-box-shadow: 4px 2px black;
          box-shadow: 4px 2px black;
}

.skills div:nth-child(odd) {
  background: #ff7e5f;
}

.skills img {
  height: 100px;
  width: 100px;
  margin: 5px;
}

.allcards {
  margin: 10px;
  padding: 5px;
  width: 100%;
  height: 200px;
  background: #ff7e5f;
  border-radius: 5px;
  -webkit-box-shadow: 4px 2px black;
          box-shadow: 4px 2px black;
  color: white;
}

.allcards:nth-child(odd) {
  background: #feb47b;
}

.allcards .fas {
  font-size: 50px;
  padding-top: 10px;
}

.preloader {
  background: white;
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 770px) {
  .preloader {
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    top: 40px;
  }
}

.loader {
  border: 16px solid #feb47b;
  border-top: 16px solid #ff7e5f;
  border-bottom: 16px solid #765258;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */