$firstLetterColor: #351c4d;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 90%;
  }

#createdBy {
  height: 10vmin;
  text-align: center;
  align-self: flex-start;
  position: fixed;
  top: 0.8em;
  font-family: 'Courgette', cursive;
}

.card {
    flex: 1;
    transition: all 1s;
    height: 80vmin;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin: 0 3px;
    position: relative;
    opacity: 0;
    cursor: pointer;
  
}

.headerPersonal {
  align-self: center;
}


.headerProjects {
  align-self: center;
}

.headerProfessional {
  align-self: center;
}

.personal {
    background-color: #ff7e5f;
}  

.hoverPersonal:hover {
    background: url('img/personal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.flipPersonal {
  display: none;
  flex-direction: row;

  h1 {
    width: 100%;
  }

  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    position: fixed;
    top: 100px;
    left: 50px;
  }

  p {
    width: 75%;
    color: white;
    justify-self: center;
    position: fixed;
    top: 100px;
  }

  ul {
    list-style: none;
  }

}

.projects {
    background-color: #feb47b;
}

.hoverProjects:hover {
  background: url('img/projects.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.professional {
    background-color: #765258;
}

.hoverProfessional:hover {
  background: url('img/professional.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


.grow {
  flex-grow: 10;
}

.shrink {
  flex-shrink: 10;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

span {
  color: $firstLetterColor;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 5px;
}
  
  