* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 90%;
}

#createdBy {
  height: 10vmin;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: fixed;
  top: 0.8em;
  font-family: 'Courgette', cursive;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 80vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  margin: 0 3px;
  position: relative;
  opacity: 0;
  cursor: pointer;
}

.headerPersonal {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headerProjects {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headerProfessional {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.personal {
  background-color: #ff7e5f;
}

.hoverPersonal:hover {
  background: url("img/personal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.flipPersonal {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flipPersonal h1 {
  width: 100%;
}

.flipPersonal img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 100px;
  left: 50px;
}

.flipPersonal p {
  width: 75%;
  color: white;
  -ms-grid-column-align: center;
      justify-self: center;
  position: fixed;
  top: 100px;
}

.flipPersonal ul {
  list-style: none;
}

.projects {
  background-color: #feb47b;
}

.hoverProjects:hover {
  background: url("img/projects.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.professional {
  background-color: #765258;
}

.hoverProfessional:hover {
  background: url("img/professional.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.grow {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.shrink {
  -ms-flex-negative: 10;
      flex-shrink: 10;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

span {
  color: #351c4d;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 5px;
}
/*# sourceMappingURL=main.css.map */