$firstLetterColor: #351c4d;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 90%;
  }

#createdBy {
  height: 10vmin;
  text-align: center;
  align-self: flex-start;
  position: fixed;
  top: 0.8em;
  font-family: 'Courgette', cursive;
}

.card {
    flex: 1;
    transition: all 1s;
    height: 80vmin;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin: 0 3px;
    position: relative;
    opacity: 0;
    cursor: pointer;
    padding: 10px;
}

.headerPersonal {
  align-self: center;
}

.headerProjects {
  align-self: center;
}

.headerProfessional {
  align-self: center;
}

.personal {
    background-color: #ff7e5f;
}  

.hoverPersonal:hover {
    background: url('img/personal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.flex {
  display: flex;
}

.flipPersonal {
  display: none;
  flex-direction: row;
  justify-items: center;
  text-align: center;
  width: 100%;

  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    position: fixed;
    top: 100px;
    left: 30px;
  }

  p {
    width: 70%;
    color: white;
    justify-self: center;
    align-self: center;
  }

  ul {
    list-style: none;
    width: 30%;
    margin: auto;
    font-size: 1.5em;
  }

}

.projects {
    background-color: #feb47b;
}

.flipProjects {
  display: none;
  flex-direction: row;
  justify-items: center;
  text-align: center;
  // height: 1000px;
  overflow-y: scroll;
  width: 100%;
  padding-top: 40px;
  h3 {
   width: 100%;
  }

  img {
    height: 70%;
    width: 70%;
    border: black 1px solid;
    border-radius: 5px;
    justify-self: center;
    display: block;
  }

}

::-webkit-scrollbar {
  width: 20px;
  height: 80vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $firstLetterColor; 
  border-radius: 10px;
  height: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.hoverProjects:hover {
  background: url('img/projects.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.professional {
    background-color: #765258;
}

.hoverProfessional:hover {
  background: url('img/professional.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


.grow {
  flex-grow: 10;
}

.shrink {
  flex-shrink: 10;

  h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

span {
  color: $firstLetterColor;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 5px;
}
  
  